body{
    text-align: center;
    align-items: center;
    font-family: sans-serif;
}
#result{
    background-color: black;
    width: 9em;
    background-position: center;
    color: white;
    margin: 1.5em;
    border-radius: 5%;
    font-size: larger;
}