
h1{

}
body{
    text-align: center;
    background: url(images\Spiral.jpg);
}
#result{
    background-color: black;
    color: white;
    margin: auto;
    border-radius: 5%;
    font-size: larger;
}